<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

		</form>

		<ul th:replace="layout :: navbar">

		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">

					</div>
				</div>
				<div th:replace="layout :: user">

				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>

				<div class="container-fluid px-4">
					<h1 class="mt-4">Detalles Cliente</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/clientes/listar}">Listar Clientes</a></li>
						<li class="breadcrumb-item active">Detalles Cliente</li>
					</ol>
					<div class="card mb-4">
						<div class="card-body">
							<span>Detalles del Cliente: <span th:text="${cliente.cliente}"></span > </span>
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Detalles Cliente
						</div>
						<div class="card-body">
						
								
			
					
								
								<a class="btn btn-success"
								th:href="@{/planes_pagos/clientes/simular_cuotas/} + ${cliente.id_cliente}">Desarrollo Plan de Pago</a>
							
								<div th:each="cta_cte : ${ctas_ctes}">
								<div th:each="historial : ${cta_cte.historiales_planes_pagos}">
										<br>
									<div class="list-group">
										<a th:href="@{/planes_pagos/detalles/} + ${historial.plan_pago.id_plan_pago} + '/' + ${cliente.id_cliente}"
											class="list-group-item list-group-item-action" aria-current="true">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1"
													th:text="'Inicio: ' + ${#dates.format(historial.plan_pago.fecha_inicio,'dd/M/yyyy')}">List
													group item heading</h5>
												<small th:text="'Legajo Plan Pago: ' + ${historial.plan_pago.id_plan_pago}">3 days ago</small>
											</div>
											<p class="mb-1" th:text="'Tipo Interés: ' + ${historial.plan_pago.id_tipo_interes.tipo_interes}"></p>
											<p class="mb-1" th:text="'Nro Expediente: ' + ${historial.plan_pago.nro_expediente}"></p>
											<p class="mb-1" th:text="'Cuotas: ' + ${historial.plan_pago.nro_cuotas}"></p>
											<p class="mb-1" th:text="'Total: ' + '$ ' + ${#numbers.formatDecimal(historial.plan_pago.total, 0, 'POINT', 2, 'COMMA')}"></p>
											<p class="mb-1" th:text="'Valor Cuota: ' + '$ ' + ${#numbers.formatDecimal(historial.plan_pago.valor_cuota, 0, 'POINT', 2, 'COMMA')}"></p>
											<p class="mb-1" th:text="'Proveedor: ' + ${historial.plan_pago.id_proveedor.razon_social}"></p>
											<p class="mb-1" th:text="'Abogado Parte Actora: ' + ${historial.plan_pago.pactora}"></p>
											<small class="text-success" th:text="${historial.plan_pago.activo ? 'Activo':'Inactivo'}"></small>
										</a>
									</div>
									<br>
								</div>
							</div>
						
						</div>
					</div>
				</div>

			</main>
			<footer th:replace="layout :: footer">

			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">

	</div>
</body>

</html>