<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head">

</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<div th:replace="layout :: brand"></div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

		</form>

		<ul th:replace="layout :: navbar">

		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:replace="layout :: sidenav">

					</div>
				</div>
				<div th:replace="layout :: user">

				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Tablero</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active">Tablero</li>
					</ol>
					<div class="row">
						<div class="col-xl-3 col-md-6">
							<div class="card bg-primary text-white mb-4">
								<div class="card-body">Planes de Pagos</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link disabled" href="#">Detalles</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-warning text-white mb-4">
								<div class="card-body">Clientes</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link disabled" href="#">Detalles</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-success text-white mb-4">
								<div class="card-body">Recibos</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link disabled" href="#">Detalles</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-danger text-white mb-4">
								<div class="card-body">Deudas</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link disabled" href="#">Detalles</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
					</div>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-list me-1"></i>
							Opciones
						</div>
						<div class="card-body">

							<div class="row">
								<div class="col col-md-12 col-lg-6">
									<div class="card bg-light text-dark mb-4">
										<div class="card-body">Empresas</div>
										<div class="card-footer d-flex align-items-center justify-content-between">
											<a th:if="${empresa == null}" class="small text-dark stretched-link"
												th:href="@{/empresas/registrar}">Registrar</a>
											<a th:if="${empresa != null}" class="small text-dark stretched-link"
												th:href="@{/empresas/registrar/} + ${empresa.id_empresa}">Modificar</a>
											<div class="small text-dark"><i class="fas fa-angle-right"></i></div>
										</div>
									</div>
								</div>
								<div class="col col-md-12 col-lg-6">
									<div class="card bg-light text-dark mb-4">
										<div class="card-body">Sucursales</div>
										<div class="card-footer d-flex align-items-center justify-content-between">
											<a class="small text-dark stretched-link" th:href="@{/sucursales/registrar}">Registrar</a>
											<div class="small text-dark"><i class="fas fa-angle-right"></i></div>
										</div>
									</div>
								</div>
								<div class="col col-md-12 col-lg-6">
									<div class="card bg-light text-dark mb-4">
										<div class="card-body">Pagos</div>
										<div class="card-footer d-flex align-items-center justify-content-between">
											<a class="small text-dark stretched-link" href="#">Registrar</a>
											<div class="small text-dark"><i class="fas fa-angle-right"></i></div>
										</div>
									</div>
								</div>
								<div class="col col-md-12 col-lg-6">
									<div class="card bg-light text-dark mb-4">
										<div class="card-body">Desarrollo Plan de Pago</div>
										<div class="card-footer d-flex align-items-center justify-content-between">
											<a class="small text-dark stretched-link" th:href="@{/planes_pagos/simular_cuotas}">Simular</a>
											<div class="small text-dark"><i class="fas fa-angle-right"></i></div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</main>
			<footer th:replace="layout :: footer">

			</footer>
		</div>
	</div>
	<div th:replace="layout :: script">

	</div>
</body>

</html>