<!DOCTYPE html>
<html lang="en">

<head th:fragment="head">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Sistema Cobranza Cuotas</title>
	<link th:href="@{/css/styles-simple-datatables.css}" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script th:src="@{/js/all.js}" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<div th:fragment="brand">
			<!-- Navbar Brand-->
			<a class="navbar-brand ps-3" th:href="@{/}" th:text="${empresa.razon_social}"
				th:if="${empresa != null}"></a>
			<a class="navbar-brand ps-3" th:href="@{/}" th:if="${empresa == null}">Nombre Empresa</a>
			<!-- Sidebar Toggle-->
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
					class="fas fa-bars"></i></button>
			<!-- Navbar Search-->
		</div>
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" th:fragment="navbar">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
					aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item disabled" href="#!">Configuración</a></li>
					<li><a class="dropdown-item" th:href="@{/actividades/actividad}">Actividad</a></li>
					<li>
						<hr class="dropdown-divider" />
					</li>
					<li>
						<form class="dropdown-item" th:action="@{/logout}" method="post"><button class="btn btn-success"
								type="submit">Cerrar Sesión</button></form>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion text-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav" th:fragment="sidenav">
						<div>
							<img style="max-width: 100%;" th:if="${empresa != null}"
								th:src="@{/uploads/} + ${empresa.logo}" />
						</div>
						<div class="sb-sidenav-menu-heading">Inicio</div>
						<a class="nav-link text-dark" th:href="@{/}">
							<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
							Tablero
						</a>
						<a class="nav-link text-dark" th:href="@{/usuarios/listar}">
							<div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
							Usuarios
						</a>
						<div class="sb-sidenav-menu-heading">Controles</div>

						<a class="nav-link text-dark collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
							<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
							Páginas
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
							data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
								<a class="nav-link text-dark collapsed" href="#" data-bs-toggle="collapse"
									data-bs-target="#pagesCollapseAuth" aria-expanded="false"
									aria-controls="pagesCollapseAuth">
									Empresas
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
									data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">

										<a class="nav-link text-dark" th:href="@{/empresas/registrar}"
											th:if="${empresa == null}">Registrar</a>
										<a class="nav-link text-dark"
											th:href="@{/empresas/registrar/} + ${empresa.id_empresa}"
											th:if="${empresa != null}">Modificar</a>

									</nav>
								</div>
								<a class="nav-link text-dark collapsed" href="#" data-bs-toggle="collapse"
									data-bs-target="#pagesCollapseError" aria-expanded="false"
									aria-controls="pagesCollapseError">
									Sucursales
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
									data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link text-dark" th:href="@{/sucursales/registrar}">Registrar</a>
										<a class="nav-link text-dark" th:href="@{/sucursales/listar}">Listar</a>
									</nav>
								</div>
								<a class="nav-link text-dark collapsed" href="#" data-bs-toggle="collapse"
									data-bs-target="#clientes" aria-expanded="false" aria-controls="clientes">
									Clientes
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="clientes" aria-labelledby="headingOne"
									data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link text-dark" th:href="@{/clientes/registrar}">Registrar</a>
										<a class="nav-link text-dark" th:href="@{/clientes/listar}">Listar</a>
									</nav>
								</div>
								<a class="nav-link text-dark collapsed" href="#" data-bs-toggle="collapse"
									data-bs-target="#proveedores" aria-expanded="false" aria-controls="proveedores">
									Proveedores
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="proveedores" aria-labelledby="headingOne"
									data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link text-dark" th:href="@{/proveedores/registrar}">Registrar</a>
										<a class="nav-link text-dark" th:href="@{/proveedores/listar}">Listar</a>
									</nav>
								</div>
							</nav>
						</div>
						<div class="sb-sidenav-menu-heading">Administración</div>
						<a class="nav-link text-dark disabled" href="charts.html">
							<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
							Pagos
						</a>
						<a class="nav-link text-dark" th:href="@{/planes_pagos/simular_cuotas}">
							<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
							Desarrollo Plan de Pago
						</a>
					</div>
				</div>
				<div class="sb-sidenav-footer sb-sidenav-dark text-white" th:fragment="user">
					<div class="small"><b>Usuario:</b></div>
					<span th:text="${usuario.username}"></span>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>

			</main>
			<footer class="py-4 bg-dark mt-auto" th:fragment="footer">
				<div class="container-fluid px-4">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-white">Copyright &copy; Creado por RyR Computación 2022</div>
						<div>
							<a class="text-white" href="https://www.ryrcomputacion.com">RyR Computación</a>
							&middot;
							<a class="text-white" href="#">Manual del Usuario</a >
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<div th:fragment="script">

		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"
			crossorigin="anonymous"></script>
		<script th:src="@{/js/scripts.js}"></script>
		<script th:src="@{/js/simple-datatable.js}" crossorigin="anonymous"></script>
		<script th:src="@{/js/datatables-simple-demo.js}"></script>
		<script th:src="@{/js/html5.image.preview.min.js}" type="text/javascript"></script>
	
		

		<script>

			$('#datatablesSimple').DataTable({
    "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    }
});


		</script>


	</div>
</body>

</html>